<nav id="sidebar-icon-links">
  {% if site.github.repo %}
    <a id="github-link"
       class="icon" title="Github" aria-label="Github"
       href="{{ site.urls.github }}">
      {% include svg/github.svg %}
    </a>
  {% endif %}

  <a id="stackoverflow-link"
      class="icon" title="Stack Overflow" aria-label="Stack Overflow"
      href="{{ site.urls.stackoverflow }}">
    {% include svg/stackoverflow.svg %}
  </a>

  <a id="twitter-link"
      class="icon" title="Twitter" aria-label="Twitter"
      href="{{ site.urls.twitter }}">
    {% include svg/twitter.svg %}
  </a>

  <a id="facebook-link"
      class="icon" title="Facebook" aria-label="Facebook"
      href="{{ site.urls.facebook }}">
    {% include svg/facebook.svg %}
  </a>

  <a id="googleplus-link"
      class="icon" title="Google Plus" aria-label="Google Plus"
      href="{{ site.urls.googleplus }}">
    {% include svg/googleplus.svg %}
  </a>

  <a id="subscribe-link"
     class="icon" title="Subscribe" aria-label="Subscribe"
     href="{{ site.baseurl }}/feed.xml">
    {% include svg/feed.svg %}
  </a>

  {% comment %}
    Check if we have tag or search pages page active before linking to it.
  {% endcomment %}
  {% assign tags_page = false %}
  {% assign search_page = false %}
  {% for node in site.pages %}
    {% if node.layout == "tags" %}
      {% assign tags_page = node %}
    {% elsif node.layout == "search" %}
      {% assign search_page = node %}
    {% endif %}
  {% endfor %}


  {% include custom-icon-links.html %}
</nav>